@font-face {
font-family: comic;
src: url('fonts/IHATCS__.TTF')
format(truetype)

}





html{
    background: linear-gradient(to left,#E62C9E,#932CE6,#D02CE6);
}
a{
    color: plum;
 text-decoration: none;
}
h1{
    font-family: comic;
    font-weight: 400;
    font-style: italic;
}
