@font-face {
    font-family:francesa;
    src: url(../fonts/SophiaFrancesca.ttf)
    format("truetype");
}

*{
    margin: 0;
    padding: 0;
    
}

:root{
--cor1:#F4F6F7;
--cor2:#A5CDE2;
--cor3:#6BA2CC;
--cor4:#2A377A;
--cor5:#4D4956;
}
header{
    background-color: var(--cor3);
    padding-bottom:50px ;
    padding-top: 50px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
section{
font-family: francesa, Arial, Helvetica, sans-serif;
padding-top: 8%;
padding-bottom: 8%;
justify-content: center;
}

section > p, h3  

{
width: 290px;
padding-left: 15px;
background-color:gray;

}
section.caixas{
    background-color: var(--cor2);
    
    border-radius: 3px;
    padding-left: 10px;
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     aspect-ratio: 16/9;
     
     display: ;
     justify-content: left;

   
} 
section.video{
    background-color: var(--cor2);
    height: auto;
    border-radius: 3px;
    padding-left: 10px;
   
}
h1{
    text-align: center;
}
footer{
    background-color: black;
}
footer > p{
    color: white;
}
section#img001{
background-image: url(../imgs/furina1920x1080.png);


}
section#img002{
    
}
section#img003{
    
}
section#img004{
    
}
section#img005{
    
}
section#video{

}
