td, th{
    border: 1px solid black;
    width: 250px;
    text-align: left;
}
tbody > tr:nth-child(2n){
background-color: plum;
}
table{
    position: relative;
}
thead > tr > th{
position: sticky;
top: 0;

}