@keyframes pulo {

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(600px);
    }

     100%{
        transform: translateY(0);
    }

}
div{
    animation: pulo 2s linear infinite;
}