body{
    background-image: url('../imgs/main_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div{
    width: 300px;
    height: 300px;
    justify-content: center;
    display: inline;
    
}
img{
        width: 300px;
        height: 300px;
        border: 2px solid pink;
     
}