*{
     padding: 0;
    margin: 0;
}

header{
   width: 780px;
    text-align: center;
    background-color: #ccffcc;
    border-radius: 3px;
    margin: auto;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:5px ;
    padding-right:5px ;
   
    border: 1px solid black;
    border-radius: 3px;
}
main{
    background-color: #ccffcc;
    width: 780px;
    text-align: justify;
    margin: auto;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
}
body{
    background-image: url(../imgs/background002.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
video{
    
    max-width: 780px;
}
.header_link{
    text-decoration: none;
    color: black;

}
.header_link:hover{
    transition: 0.5s;
    background-color: #9cfa9c;
}
.header_link::after{
    content: "🔗";
}


.links_seasons{
    text-decoration: none; 
    color: black;
    display: inline-block;
}
.links_seasons:hover{
    color: rgb(53, 53, 53);
    transition: 0.5s;
    background-color: #9cfa9c;
}
.links_seasons::after{
    content: "🔗";
}
.links_seasons:visited{
    color: black;
}
ul{
    columns: 2;
    text-align: left center;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
a{text-decoration: none;
color: wheat;
}
a:hover{
    color: #9cfa9c;
    transition: 1s;
}
