*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(../imgs/background002.png);
    background-attachment: fixed;
}
header{
background-color:#ccffcc ;
text-align: center;
width: 100%;
max-width: 780px;
min-width: 380px;
margin: auto;
border: 1px solid black;
border-radius: 5px;
}
main{
background-color:#ccffcc ;
width: 100%;
max-width: 780px;
min-width: 380px;
margin: auto;
border: 1px solid black;
border-radius: 5px;
}
ul{
    list-style: none;
    justify-items: center;
    padding-top:5px ;
    padding-bottom:5px ;
    
}