*{
    padding: 0;
    margin: 0;
}
header > p{
    color: black;
}
header > h1{
    color: black;
}
header{
    text-align: center;
    background-color: #ccffcc;
    
     width: 50%;
    max-width: 780px;
    min-width:380px;
    margin: auto;
    border-radius: 4px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid black;
}
main{
background-color: #ccffcc;

margin: auto;
border-radius: 4px;
border: 1px solid black;
    
    width: 100%;
    /* min-width: 580px;
    max-width: 780px; */
    width: 50%;
    max-width: 780px;
    min-width:380px;
}
body{
    background-image: url(../imgs/background002.png);
}
footer{
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    text-align: center;
    width: 780px;
}
img{
    margin: auto;
    width: 380px;
    display: flex;
    align-content: center;
    align-items: center;

} 