*{
    padding: 0;
    margin: 0;
}
header > p{
    color: black;
}
header > h1{
    color: black;
}
header{
    text-align: center;
    background-color: #ccffcc;
    
     width: 50%;
    max-width: 780px;
    min-width:380px;
    margin: auto;
    border-radius: 4px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid black;
}
h3, p {
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    
}
main{
background-color: #ccffcc;

margin: auto;
border-radius: 4px;
border: 1px solid black;
    
   
    width: 50%;
    max-width: 780px;
    min-width:380px;
}
body{
    background-image: url(../imgs/background002.png);
    background-attachment: fixed;
}
footer > a{
    color: wheat;
}
footer{
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    text-align: center;
    width: 780px;
}
img{
    margin: auto;
    width: 380px;
    display: flex;
    align-content: center;
    align-items: center;

} 
.personagens{
    text-align: center;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    
    

}
#luna:hover{
    color: rgb(100, 100, 255);
    transition: 0.5s;
    text-shadow: 8px 9px 3px;
}
#strange:hover{
color: orange;
transition: 0.5s;
text-shadow: 8px 9px 3px;
}
#miranha:hover{
color: red;
transition: 0.5s;
text-shadow: 8px 9px 3px;
}
iframe{
    display: block;
    width: 99%;
    height: 300px;
margin: auto;
}


