*{
    padding: 0;
    margin: 0;
}
header > p{
    color: black;
}
header > h1{
    color: black;
}
header{
    text-align: center;
    background-color: #ccffcc;
    width: 780px;
    margin: auto;
    border-radius: 4px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 1px solid black;
}
main{
background-color: #ccffcc;
width: 780px;
margin: auto;
border-radius: 4px;
border: 1px solid black;
}
body{
    background-image: url(../imgs/background002.png);
}
footer{
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    text-align: center;
    width: 780px;
}