*{
    padding: 0;
    margin: 0;
}
html body{
    position: absolute;
    width: 74vw;
    height: 96vh;
}
body{
    background-image: url(../imgs/fundo\ preto.webp);
}
section#tablet{
    position: relative;
    top:50% ;
    left:45% ;
    transform: translate(-50% -50%);
}
img{
    width: 50%;
    height: 50%;
}
iframe{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 40%;
   transform: translate(-50%, -50%);
    height: 420px;
     
      
   
}