@font-face {
    font-family: forward;
    src: url("fonts/BravenRegular.otf")
    format("opentype");
}

main > aside{
    background-color: lightpink;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 2px 5px;
    border: 2px solid rgb(252, 168, 168);
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px;
}
main > h1{
    background-color:aqua ;
    border-radius: 6px;
    padding: 3px;
    box-shadow: 1px 1px 9px 0px;
    margin: 0px auto;
    margin-bottom: 15px;
}
h1{
    margin: 0px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: purple;
}
a:hover{
    color: rgb(233, 233, 233);
}
a:active{
    color: cadetblue;
}
a::after{
    content: "[link]";
}
a:visited{
    color: black;
}