h1{
    background-color: lightpink;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 10px;
    border-width: 5px;

padding: 20px 15px 20px 15px;

outline:5px solid lightcoral ;
}
a{
    padding:1fpx ;
    border-style: double;
    border-color: black;
    border-width: 9px;
   
}