
    body{
        /*   shorthand de background
        a ordem é: color, image, posotion, repeat, size, attachment 
        O SIZE PODE NÃO FUNCIONAR ENTÃO FAZER ELE SEPARADO
        */
       
        background: black url(furinadas.webp) center no-repeat  fixed;
        background-size: cover;
     
       
        
    }
    main{
        background-color: white;
        width: 400px;
        padding: 10px;
        margin: auto;
        border: 2px solid black;
        border-radius: 5px;

    }