h1{
    text-align: center;
    padding-bottom: 15px;
}
*{
    padding: 0;
    margin: 0;
}
html, body{
    background-color: wheat;
}
section{
    min-width: 450px;
    max-width: 780px;
    height: 780px;
    background-color: black;
}
section#roles{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 5px;
   
}
.classes{
 width: 50px;
 gap: 5px;
box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.281);
}
.classes:hover{
    transition: 0.7s;
  transform: scale(1.2);
box-shadow: 3px 5px 20px 0px black;
}