h1{
    text-align: center;
}
body{
    background-color: wheat;
}
a:hover{
color: var(--ciano);
} 
:root{
    --azul:rgb(3, 3, 88);
    --preto:rgb(68, 68, 68);
    --amarelo:rgba(255, 255, 178, 0.904);
    --roxo:purple;
    --ciano:rgb(165, 241, 238);
}
.links{
    text-justify: center;
    display: flex;
}
